html{
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}
body{
	
}

div{
	text-align: center;

}

h1{
	color: dodgerblue;
}
img{
	width: 400px;
}
#thirdDiv{
	height: 600px;
	width: 500px;
	background-color: steelblue;
	padding: 50px;
	border: 2px solid black;
	margin-left: 25%;
}
#spanId{
	font-size: 18px;
	margin: 50px;
}